<h1>Your Team and Heroes!</h1>

<h1>Team Name: <%= @team.name %></h1>
<h1>Team Motto: <%= @team.motto %></h1>

<% @heroes.each_with_index do |hero, index| %>
  <h2>Hero <%= index %></h2>
    <p>Hero <%= index %>'s Name: <%= hero.name %></p>
    <p>Hero's Power: <%= hero.power %></p>
    <p>Hero's Biography: <%= hero.biography %></p>
<% end %>
